<div class="container">
    <h1>{{user.username}}`s details</h1>

    <hr>

    <div class="row">

        <div class="col-md-6">

            <div class="card" style="width: 30rem;">

                <img src="{{user.avatar}}" class="card-img-top" alt="Avatar pic">

                <div class="card-body">

                    <h5 class="card-title">Name: {{user.username}}</h5>
                    <p class="card-text">Email: {{user.email}}</p>
                    <p class="card-text">Description: {{user.description}}</p>
                    <a href="/users" class="btn btn-warning">Return to Users List!</a>

                </div>

            </div>

        </div>

        <div class="col-md-6 avatarImg">

            <div>
                <h2>Mis favoritas</h2>
                {{#each user.favRecipes}}
                <p><img src="{{imageUrl}}" alt="Users favorite"></p>
                {{/each}}
            </div>

        </div>

    </div>

</div>