<div class="container">

    <h2>All the users!</h2>


    {{#each users}}

    <h3>{{username}}</h3>
    <div class="row">
        <div class="col-md-6">
            <a href="/users/{{id}}/details" class="avatarImg"><img src=" {{avatar}}" alt="avatar"></a>
        </div>


        {{#if ../roles.isAdmin}}
        <div class="col-md-6">
            <a href="/users/{{id}}/edit" class="btn btn-primary">Edit {{username}} </a>
            <a href="/users/{{id}}/delete" class="btn btn-danger btn-sm">Delete {{username}} </a>
        </div>

        {{/if}}

    </div>
        <hr>

    {{/each}}

</div>